<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.frxs.msg.shift.dal.mapper.TopicMapper">


    <select id="selectByDepartmentId" resultType="com.frxs.msg.shift.dal.entity.Topic">
        select *
        from t_topic
        where departmentId = #{departmentId}
    </select>
</mapper>